<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>PROLACCIO - Ventas</title>
    <link href="../admin/css/bootstrap.min.css" rel="stylesheet" />
    <link href="../admin/css/font-awesome.min.css" rel="stylesheet" />
    <link href="../admin/css/datepicker3.css" rel="stylesheet" />
    <link href="../admin/css/styles.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css" integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu" crossorigin="anonymous" />

    <!--Custom Font-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet" />
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sidebar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
                <a class="navbar-brand" href="#"><span>PROLACCIO</span>Admin</a>
                <a id="boton-modificar" href="./modificaciones" class="navbar-right"><i
              style="font-size: 28pt; padding-top: 20%; padding-right: 20px"
              class="fas fa-tools"
            ></i
          ></a>
            </div>
        </div>
        <!-- /.container-fluid -->
    </nav>
    <div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
        <div class="profile-sidebar">
            <div class="profile-usertitle">
                <div class="profile-usertitle-name">Administracion</div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="divider"></div>
        <ul class="nav menu">
            <li class="active">
                <a href="/admin/resumen"><em class="fas fa-tachometer-alt">&nbsp;</em> Resumen</a
          >
        </li>
        <li>
          <a href="/admin/ventas"
            ><em class="fa fa-shopping-cart">&nbsp;</em> Ventas (Sin ref)</a
          >
        </li>
        <li>
          <a href="/admin/usuarios"
            ><em class="fa fa-users">&nbsp;</em> Usuarios</a
          >
        </li>
        <li>
          <a href="/admin/retiros"
            ><em class="fa fa-calendar">&nbsp;</em> Retiros</a
          >
        </li>
        <li>
          <a href="/panel/desconectar"
            ><em class="fa fa-power-off">&nbsp;</em> Desconectarse</a
          >
        </li>
      </ul>
    </div>
    <!--/.sidebar-->

    <div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
      <div class="row">
        <ol class="breadcrumb">
          <li>
            <a href="#">
              <em class="fa fa-home"></em>
            </a>
            </li>
            <li class="active">Resumen</li>
            </ol>
    </div>
    <!--/.row-->

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Resumen</h1>
        </div>
    </div>
    <!--/.row-->
    <% a = 0; b = 0;%>
        <% pedidosList.forEach(pedido => {
            if (pedido.refCode == 'none' && pedido.status == true) {
                b++;
            }
      if (pedido.status == true) { a++; } }); %>
            <div class="panel panel-container">
                <div class="row">
                    <div class="col-xs-6 col-md-3 col-lg-3 no-padding">
                        <div class="panel panel-teal panel-widget border-right">
                            <div class="row no-padding">
                                <em class="fa fa-xl fa-shopping-cart color-blue"></em>
                                <div class="large">
                                    <%= a %>
                                </div>
                                <div class="text-muted">Ventas en curso</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-md-3 col-lg-3 no-padding">
                        <div class="panel panel-blue panel-widget border-right">
                            <div class="row no-padding">
                                <em class="fa fa-xl fa-comments color-orange"></em>
                                <div class="large">
                                    <%= retirosList.length %>
                                </div>
                                <div class="text-muted">Solicitud/es de retiro</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-md-3 col-lg-3 no-padding">
                        <div class="panel panel-orange panel-widget border-right">
                            <div class="row no-padding">
                                <em class="fa fa-xl fa-users color-teal"></em>
                                <div class="large">
                                    <%= usersList.length %>
                                </div>
                                <div class="text-muted">Vendedores totales</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-md-3 col-lg-3 no-padding">
                        <div class="panel panel-red panel-widget">
                            <div class="row no-padding">
                                <em class="fa fa-xl fa-search color-red"></em>
                                <div class="large">
                                    <% var cantidadPedidosNoRef = 0; var totalVentas = 0; var
                  totalRetiros = 0; var total = 0; var totalSinRef = 0; for (let
                  i = 0; i < pedidosList.length; i++) { if
                  (pedidosList[i].refCode == "none") { cantidadPedidosNoRef++;
                  totalSinRef = totalSinRef + parseInt(pedidosList[i].total); }
                  totalVentas = totalVentas + parseInt(pedidosList[i].total); }
                  for (let i = 0; i < retirosList.length; i++) { totalRetiros =
                  totalRetiros + parseInt(retirosList[i].montototal); } for (let
                  i = 0; i < usersList.length; i++) { total = total +
                  parseInt(usersList[i].ventatotal); } %>
                                        <%= b %>
                                </div>
                                <div class="text-muted">Pedidos sin referencia</div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--/.row-->
            </div>

            <div class="panel panel-container">
                <div class="row">
                    <div class="col-xs-6 col-md-3 col-lg-3 no-padding">
                        <div class="panel panel-teal panel-widget border-right">
                            <div class="row no-padding">
                                <em class="fa fa-xl fa-shopping-cart color-blue"></em>
                                <div class="large">$
                                    <%= totalVentas %>
                                </div>
                                <div class="text-muted">Facturaci칩n total de pedidos</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-md-3 col-lg-3 no-padding">
                        <div class="panel panel-blue panel-widget border-right">
                            <div class="row no-padding">
                                <em class="fa fa-xl fa-comments color-orange"></em>
                                <div class="large">$
                                    <%= totalRetiros %>
                                </div>
                                <div class="text-muted">Total en retiros activos</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-md-3 col-lg-3 no-padding">
                        <div class="panel panel-orange panel-widget border-right">
                            <div class="row no-padding">
                                <em class="fa fa-xl fa-users color-teal"></em>
                                <div class="large">$
                                    <%= total %>
                                </div>
                                <div class="text-muted">Facturaci칩n total de vendedores</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-md-3 col-lg-3 no-padding">
                        <div class="panel panel-red panel-widget">
                            <div class="row no-padding">
                                <em class="fa fa-xl fa-search color-red"></em>
                                <div class="large">$
                                    <%= totalSinRef %>
                                </div>
                                <div class="text-muted">Facturaci칩n sin referencia</div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--/.row-->
            </div>
            <div class="panel panel-container">
                <div class="col-12 no-padding">
                    <div class="panel-widget panel">
                        <div class="row">
                            <form action="./nuevo-catalogo" method="post" enctype="multipart/form-data">
                                <input type="text" name="posicion" style="display: none" value="1" />
                                <label for="file-upload-1" class="subir">
                  <i class="fas fa-cloud-upload-alt"></i> Subir archivo
                </label>
                                <input name="catalogo" id="file-upload-1" onchange="nuevoCatalogo()" type="file" style="display: none" />
                                <div id="info-1"></div>
                                <button type="submit" class="btn btn-primary" id="catalogo">
                  Cargar nuevo Cat치logo
                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <br /><br />
            </div>


            <!--/.main-->
            <script src="../admin/js/jquery-1.11.1.min.js"></script>
            <script src="../admin/js/bootstrap.min.js"></script>
            <script>
                if (
                    /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(
                        navigator.userAgent
                    )
                ) {
                    // document.getElementById('header').style.backgroundImage = 'url(img/Background-Home-mb.jpg)';
                    document.getElementById("boton-modificar").style.display = "none";
                }
            </script>
            <script>
                function nuevoCatalogo() {
                    var pdrs = document.getElementById("file-upload-1").files[0].name;
                    document.getElementById("info-1").innerHTML = pdrs;
                }
            </script>
</body>

</html>